[Desktop Entry]
Encoding=UTF-8
Name=CamRoad
Comment=CamRoad
Icon=gnome-info
Exec=bash -c "cd /home/pi/Cam-road/host/source/ && ./run.sh"
Terminal=True
Type=Application
Categories=